{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-control-statements"
    ],
    "rules": {
        "max-len": 0,
        "react/no-array-index-key": "off",
        "indent": [
            "warn",
            4
        ],
        "react/jsx-indent": [
            "warn",
            4
        ],
        "react/jsx-filename-extension": [
            0
        ],
        "react/jsx-no-undef": [
            2,
            {
                "allowGlobals": true
            }
        ]
    },
    "extends": [
        "airbnb",
        "plugin:react/recommended",
        "plugin:jsx-control-statements/recommended",
        "prettier",
        "prettier/react"
    ],
    "env": {
        "browser": true,
        "node": true
    }
}
