.container {
    width: 25%;
    & > div {
      overflow: hidden;
      margin: 0 8px;
      height: 100%;
      position: relative;
      transition: box-shadow .2s ease-in-out;
      & > .product-info {
        transform: translate3d(0px, 0px, 0px);
        width: 100%;
        padding: 5px 16px 8px;
        transition: -webkit-transform .35s cubic-bezier(.17,.67,.21,1);
        transition: transform .35s cubic-bezier(.17,.67,.21,1);
        transition: transform .35s cubic-bezier(.17,.67,.21,1),-webkit-transform .35s cubic-bezier(.17,.67,.21,1);
        will-change: transform;
        position: relative;
        background: #fff;
        z-index: 2;
        & > .company-name {
            color: #878787;
            font-size: 14px;
            font-weight: 500;
        }
        & > .product-name {
            display: inline-block;
            width: calc(100% - 20px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            padding: 0;
        }
        & > .product-price {
            display: block;
            padding: 0 10px 0 0;
            margin: 0;
            & > .price-row {
                & > .original-price {
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 500;
                    color: #212121;
                }
                & > .previous-price {
                    text-decoration: line-through;
                    font-size: 14px;
                    color: #878787;
                    display: inline-block;
                    margin-left: 8px;
                }
                & > .offer-percentage {
                    color: #388e3c;
                    font-size: 13px;
                    letter-spacing: -.2px;
                    font-weight: 500;
                    display: inline-block;
                    margin-left: 8px;
                }
            }
        }
        & > .product-sizes {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          z-index: 1;
          background-color: #fff;
          padding: 0 16px 12px;
        }
      }
      &:hover {
        & > .product-info {
          transform: translate3d(0px, -31px, 0px);
        }
      }
    }
  }

  @media (max-width: 800px) {
    .container {
      width: 50%;
    }
  }