.wrapper {
    border: solid 1px #f0f0ff;
    position: relative;
    width: 30%;
    height: 300px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .5s ease-in-out;
    .image-info {
        height: 0px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        border: solid 1px #f0f0ff;
        width: 100%;
        transition: all .5s ease-in-out;
        border-radius: 5px;
    }
}

.wrapper:hover {
    transform: scale(1.1);
    .image-info {
        height: 100px;
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 100%;
    }
}
